@model WebTimNguoiThatLac.Models.GioiThieu;

@{
    ViewData["Title"] = "Giới Thiệu";
}


@if(Model != null )
{
    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 d-flex ftco-animate">
                    <div class="img img-about align-self-stretch" style="background-image: url(@Model.HinhAnh); width: 100%;"></div>
                </div>
                <div class="col-md-6 pl-md-5 ftco-animate">
                    <h2 class="mb-4">@Model.TieuDe</h2>
                    <div>
                        @Html.Raw(Model.NoiDung)
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<!-- Notification Area -->
<div id="notification-area" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>


<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Tổng Số Bài Viết Người Mất Tích </span>
                        @{
                            int sl = ViewBag.TongBaiVietTrong + 1910;
                        }
                        <strong class="number" data-number="@sl">0</strong>
                        <p>Được thống kê gửi về hệ thống. Mỗi bài viết đều trải qua quy trình kiểm tra nghiêm ngặt để đảm bảo tính chính xác.</p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Các bài viết</h3>
                        <p>Cam kết bảo mật và cập nhật thông tin mới nhất của thông tin đối với bài viết và người hỗ trợ tham gia tìm kiếm </p>
                        <p><a href="/TimNguoi" class="btn btn-white px-3 py-2 mt-2">Bài Viết</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Tin Tức Thế Giới</h3>
                        <p>Cập Nhật Tin Tức, Phân Tích Xu Hướng, Chia Sẻ Bài Viết giúp người dùng hiểu rõ hơn về tình trạng mất tích toàn cầu</p>
                        <p><a href="/TinTuc" class="btn btn-white px-3 py-2 mt-2">Tin Tức</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* 
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Latest Donations</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Templet/images/person_1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Templet/images/person_2.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$150</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Templet/images/person_3.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$250</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@