@{
    ViewData["Title"] = "Trang Chủ";
}





<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Tổng Số Người Mất Tích </span>
                        <strong class="number" data-number="19999999">0</strong>
                        <span>Được thống kê trong năm 2029</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Các bài viết</h3>
                        <p>Cam kết bảo mật và cập nhật thông tin mới nhất của thông tin đối với bài viết </p>
                        <p><a href="/TimNguoi" class="btn btn-white px-3 py-2 mt-2">Bài Viết</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Tin Tức Thế Giới</h3>
                        <p>Cập Nhật Tin Tức, Phân Tích Xu Hướng, Chia Sẻ Bài Viết</p>
                        <p><a href="/TinTuc" class="btn btn-white px-3 py-2 mt-2">Tin Tức</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Make Donation</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Become A Volunteer</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Sponsorship</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h1>@ViewData["Title"]</h1>

@await Component.InvokeAsync("DanhSachNgang")

@* @await Component.InvokeAsync("NguoiDungNgang") *@

@await Component.InvokeAsync("TrungBayNgang")

@await Component.InvokeAsync("TinTucNgang")

@await Html.PartialAsync("_LayoutNguoiDungLienHe")


