.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll
# Build
WebTimNguoiThatLac/bin/
WebTimNguoiThatLac/obj/

# User-specific files
.vs/

# Migrations
WebTimNguoiThatLac/Migrations/

# appsettings.json
WebTimNguoiThatLac/appsettings.json

WebTimNguoiThatLac/obj/Debug/net8.0/WebTimNguoiThatLac.AssemblyInfo.cs
WebTimNguoiThatLac/obj/Debug/net8.0/WebTimNguoiThatLac.AssemblyInfoInputs.cache
WebTimNguoiThatLac/obj/Debug/net8.0/WebTimNguoiThatLac.GeneratedMSBuildEditorConfig.editorconfig
