@model IPagedList<WebTimNguoiThatLac.Models.TrungBayHinhAnh>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Trưng Bày Ảnh";
}

<style>
    /* Style cho phân trang */
    .pagination {
    margin-top: 20px;
    }

    .page-item .page-link {
    border-radius: 50% !important;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #333;
    }

    .page-item.active .page-link {
    background-color: #ff6a00; /* Màu cam */
    border-color: #ff6a00;
    color: white;
    }

    .page-item:not(.active) .page-link:hover {
    background-color: #ffe0cc; /* Màu cam nhạt khi hover */
    color: #ff6a00;
    }

    /* Căn giữa toàn bộ phần phân trang */
    .pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    }
</style>


<section class="ftco-section ftco-gallery">
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row">
                @foreach (var i in Model)
                {

                    <a href="@i.HinhAnh" class="col-md-3 gallery image-popup d-flex justify-content-center align-items-center img ftco-animate w-100" style="background-image: url(@i.HinhAnh);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search"></span>
                                </div>
                    </a>

                        

                }
            </div>
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new
                        {
                            page,
                            ViewBag.TimKiem,

                        }), new PagedListRenderOptions
                        {
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                            UlElementClasses = new[] { "pagination", "justify-content-center" }
                        })
                </div>
            </div>
        }
        else
        {
            <p>Không có hình ảnh nào để hiển thị.</p>
        }
	</div>
</section>