
<style>

    .btn-send:hover {
        color: white;
    }

</style>


<section class="ftco-section-3 img" style="background-image: url(/Templet/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-2 align-self-stretch" style="background-image: url(/Templet/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h4 class="form-title">Gửi Tin Nhắn Cho Chúng Tôi</h4>
                <form asp-action="LienHe" asp-controller="Home" method="post" class="volunter-form" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label name="TenNguoiDungLienHe">Tên Của Bạn <span class="text-danger">*</span></label>
                            <input name="TenNguoiDungLienHe" type="text" class="form-control" placeholder="Nhập tên của bạn">
                        </div>
                        <div class="form-group col-md-6">
                            <label name="PhoneNguoiDungLienHe">Điện Thoại <span class="text-danger">*</span></label>
                            <input name="PhoneNguoiDungLienHe" type="number" class="form-control" placeholder="Nhập số điẹn thoại của bạn" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label name="EmailNguoiDungLienHe" for="subject">Email  <span class="text-danger">*</span></label>
                        <input name="EmailNguoiDungLienHe" type="text" class="form-control" placeholder="Email liên hệ">
                    </div>
                    <div class="form-group">
                        <label name="VanDeLienHe" for="subject">Vấn Đề Gặp Phải  <span class="text-danger">*</span></label>
                        <input name="VanDeLienHe" type="text" class="form-control" placeholder="Vấn Đề Bạn Đang Gặp Phải ">
                    </div>
                    <div class="form-group">
                        <textarea name="NoiBungLienHe" id="compose-textarea" class="form-control border-0 bg-light px-4 py-3" rows="5" placeholder="Mô Tả Vấn Đề"></textarea>
 

                    </div>
                    <button type="submit" class="btn btn-white btn-send">
                        <i class="fas fa-paper-plane mr-2"></i> Gửi Tin Nhắn
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>


