<div class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
            <a class="nav-link text-light" asp-area="" asp-controller="NhanChung" asp-action="Create">
                <i class="fa-solid fa-file-signature"></i>
            </a>
        </div>
    </div>
</div>
