@page
@model ExternalLoginModel

@{
    ViewData["Title"] = "Đăng ký bằng " + Model.ProviderDisplayName;
}

<h1>@ViewData["Title"]</h1>

<form asp-page-handler="Confirmation" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}