@model WebTimNguoiThatLac.Models.TinTuc
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Thêm Tin Tức";

}
@section naviHeader {
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/Admin" class="nav-link ">Trang Chủ</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/Admin/GioiThieu" class="nav-link "> Tin Tức</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/Admin/GioiThieu/Create" class="nav-link active"> Thêm Tin Tức</a>
            </li>
        </ul>
}



<form asp-area="Admin" asp-controller="TinTuc" asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="card container-fluid ">
        <div class="card-header d-flex ">
            <h2 class="card-title">Chi Tiết @ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class=" mb-3">
                <label asp-for="TieuDe">Tiêu Đề Tin Tức</label>
                <input asp-for="TieuDe" type="text" class="form-control" placeholder="Nhập Tiêu Đề Tin Tức">
                <span asp-validation-for="TieuDe"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="TacGia">Tác Giả</label>
                <input asp-for="TacGia" type="text" class="form-control" placeholder="Nhập Tên Tác Giả">
                <span asp-validation-for="TacGia"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="MoTaNgan">Mô Tả Ngắn</label>
                <textarea asp-for="MoTaNgan" class="form-control"></textarea>
                <span asp-validation-for="MoTaNgan"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="NoiDung">Nội Dung</label>
                <textarea asp-for="NoiDung" id="compose-textarea" class="form-control"></textarea>
                <span asp-validation-for="NoiDung"></span>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Hình Ảnh Hiện Tại</label>
                    <input asp-for="HinhAnh" class="form-control" readonly />
                    <img src="@Model.HinhAnh" style="width:199px" />
                </div>
                <div class="col-md-6">
                    <label>Chọn Hình Ảnh </label>
                    <input name="HinhAnhCapNhat" id="AnhVuaTai" type="file" placeholder="Nhập Hình Ảnh" class="form-control" />
                    <div class="HienThiAnhGTMoi"></div>
                </div>
            </div>
            <div class=" mb-3">
                <input asp-for="Active" type="checkbox">
                <span>Hoạt động</span>

            </div>
            <div class=" mb-3">
                <a class="btn btn-primary" href="/Admin/TinTuc">Thoát</a>
                <button class="btn btn-success">Thêm</button>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</form>


@section Scripts {
    <!-- Summernote -->
    <script src="~/clients/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
          //Add text editor
          $('#compose-textarea').summernote()
        })
    </script>
    <script>
        $("#AnhVuaTai").change(function(e){//input #AnhVuaTai
            let a = e.target.files[0]; // lấy thằng file đầu tiên
            if(a != null)
            {
                let path = URL.createObjectURL(a) // lấy ra địa chỉ
                let s = `<img src="${path}" style="width:199px"/>`;
                $(".HienThiAnhGTMoi").empty();
                $(".HienThiAnhGTMoi").append(s);
            }
        });
    </script>
}
